// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
@import "bootstrap-sprockets";
@import "bootstrap";

body {
  padding-top: 60px;
}

#show_post_title {
  border-bottom: solid 2px;
}

#show_comment_form {
  margin-bottom: 10px;
}

#show_post_content {
  border-left: dotted;
  border-right: dotted;
}

#show_control_block {
  padding-top: 10px;
}

#show_article{
  min-height: 200px;
  font-size: 1.5em;
}
